.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #ddd;

}
table.dataTable.no-footer ,
table.dataTable thead th tbody tr ,
table>thead , 
   
table.dataTable thead th, table.dataTable thead td {
   
    border-bottom: 1px solid #ccc;
}
div.dataTables_length label{font-weight:normal;text-align:left;white-space:nowrap}
div.dataTables_wrapper div.dataTables_length select{width:75px;display:inline-block}
.dataTables_wrapper .dataTables_paginate {
    color: #666;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  
  color: white !important;
  border: 1px solid #2fa4e7;
  border-radius: 2px;
  background-color: #54b4eb;
  //#54b4eb

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: 1px solid #2fa4e7;
  background:#2fa4e7;
// background-color: white;
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b4eb), color-stop(100%, #2fa4e7));
  
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  
  color: white !important;
  border: 1px solid #2fa4e7;
  border-radius: 2px;
  background:#1d9ce5;
  background-color: #1d9ce5;
  box-shadow: none;
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b4eb), color-stop(100%, #1d9ce5));
  
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  
   color: white !important;
  border: 1px solid #2fa4e7;
  border-radius: 2px;
  background:#1d9ce5;
background-color: #1d9ce5;
box-shadow: none;
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54b4eb), color-stop(100%, #1d9ce5));

}
table.dataTable.display tbody tr.odd {
   // background-color: #47aee921;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
   // background-color: #47aee921;
}
