.preloader-icon{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background:rgba(0,0,0,0.5);
	padding-top: 25%;
}
h1{
	font-family: 'Actor', sans-serif;
	color:#FFF;
	font-size:16px;
	letter-spacing:1px;
	font-weight:200;
	text-align:center;
	z-index:999999999;
}
.preloader-icon span{
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	-webkit-animation:3s infinite linear;
	-moz-animation:3s infinite linear;
	-o-animation:3s infinite linear;
	-ms-animation:3s infinite linear;
	
}


.preloader-icon span:nth-child(2){
	/*background:#E84C3D; */
	background:#54b4eb;
	-webkit-animation:kiri 1.2s infinite linear;
	-moz-animation:kiri 1.2s infinite linear;
	-o-animation:kiri 1.2s infinite linear;
	-ms-animation:kiri 1.2s infinite linear;
}
.preloader-icon span:nth-child(3){
	/* background:#F1C40F; */
	background:#2fa4e7;
	
	z-index:100;
}
.preloader-icon span:nth-child(4){
	/* background:#2FCC71; */
	background:#1d9ce5;
	
	-webkit-animation:kanan 1.2s infinite linear;
	-moz-animation:kanan 1.2s infinite linear;
	-o-animation:kanan 1.2s infinite linear;
	-ms-animation:kanan 1.2s infinite linear;
}


@-webkit-keyframes kanan {
    0% {-webkit-transform:translateX(20px);
    }
   
	50%{-webkit-transform:translateX(-20px);
	}
	
	100%{-webkit-transform:translateX(20px);
	z-index:200;
	}
}
@-moz-keyframes kanan {
    0% {-moz-transform:translateX(20px);
    }
   
	50%{-moz-transform:translateX(-20px);
	}
	
	100%{-moz-transform:translateX(20px);
	z-index:200;
	}
}
@-o-keyframes kanan {
    0% {-o-transform:translateX(20px);
    }
   
	50%{-o-transform:translateX(-20px);
	}
	
	100%{-o-transform:translateX(20px);
	z-index:200;
	}
}

@-ms-keyframes kanan {
    0% {-ms-transform:translateX(20px);
    }
   
	50%{-ms-transform:translateX(-20px);
	}
	
	100%{-ms-transform:translateX(20px);
	z-index:200;
	}
}





@-webkit-keyframes kiri {
     0% {-webkit-transform:translateX(-20px);
	z-index:200;
    }
	50%{-webkit-transform:translateX(20px);
	}
	100%{-webkit-transform:translateX(-20px);
	}
}

@-moz-keyframes kiri {
     0% {-moz-transform:translateX(-20px);
	z-index:200;
    }
	50%{-moz-transform:translateX(20px);
	}
	100%{-moz-transform:translateX(-20px);
	}
}
@-o-keyframes kiri {
     0% {-o-transform:translateX(-20px);
	z-index:200;
    }
	50%{-o-transform:translateX(20px);
	}
	100%{-o-transform:translateX(-20px);
	}
}




@-ms-keyframes kiri {
     0% {-ms-transform:translateX(-20px);
	z-index:200;
    }
	50%{-ms-transform:translateX(20px);
	}
	100%{-ms-transform:translateX(-20px);
	}
}


@keyframes kanan {
    0% {transform:translateX(20px);
    }
   
                50%{transform:translateX(-20px);
                }
                
                100%{transform:translateX(20px);
                z-index:200;
                }
} 

