/*
 * Skin: Green
 * ---------
 */
 .skin-green a {
  color: #fff;
  outline:none;
}
.skin-green a:hover,
.skin-green a:active,
.skin-green a:focus {
  outline: none;
  text-decoration: none;
  /*color: #7B9206;*/
  color: #fff;
}

.skin-green .main-header .navbar {
  background-color: #7d940e;
}
.skin-green .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-green .main-header .navbar .nav > li > a:hover,
.skin-green .main-header .navbar .nav > li > a:active,
.skin-green .main-header .navbar .nav > li > a:focus,
.skin-green .main-header .navbar .nav .open > a,
.skin-green .main-header .navbar .nav .open > a:hover,
.skin-green .main-header .navbar .nav .open > a:focus {
  background: #687D04 ;
  color: #f6f6f6;
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-green .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #687D04;
}
@media (max-width: 767px) {
  .skin-green .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-green .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-green .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
  }
}
.skin-green .control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg{
	background: #455107!important;
}
.skin-green .main-header .logo {
  background-color: #fff;
  color: #ffffff;
  border-bottom: 0px solid transparent;
}
.skin-green .main-header .logo:hover {
  background-color: #eee;
}
.skin-green .main-header li.user-header {
  background-color: #657705;
}
.skin-green .content-header {
  background: transparent;
}
 .skin-green .navbar-nav > .user-menu > .dropdown-menu > .user-footer{
	background-color: #526300!important;
 }
 .skin-green  .custom_breadcrumb{
	    background: #F5F5F5!important;
		border-bottom:#F1F1F1 solid 1px !important;
 }
.skin-green .wrapper,
.skin-green .main-sidebar,
.skin-green .left-side {
  background-color: #FBFBFB;
}
.skin-green .user-panel > .info,
.skin-green .user-panel > .info > a {
  color: #455107;
}
.skin-green .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-green .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  color:#333;
}
.skin-green .sidebar-menu > li:hover > a,
.skin-green .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #455107;
  border-left-color: #aecd16;
}
.skin-green .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-green .sidebar a {
  color: #363A3C;
}
.skin-green .sidebar a:hover {
  text-decoration: none;
}
.skin-green .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-green .treeview-menu > li.active > a,
.skin-green .treeview-menu > li > a:hover {
  color: #ffffff;
}


.skin-green .lock_screen{color:#A5A5A5!important;font-size:11px!important;border:#9c9c9c dashed 1px!important;}
.skin-green .lock_screen:hover{
	color:#433 !important;
	border:#455107 dashed 1px!important;
	-webkit-animation: dash 1s infinite linear;
  -moz-animation: dash 1s infinite linear;
  -o-animation: dash 1s infinite linear;
  animation: dash 1s infinite linear;
}

.skin-green  .control-sidebar-dark, .control-sidebar-dark + .control-sidebar-bg{
	background: #222D32;
}
.skin-green .control-sidebar-dark .control-sidebar-tabs > li > a{
	background: #607200!important;
    color: #C1C1C1!important;
    border-radius: 5px !important;
}
.skin-green .control-sidebar-dark .control-sidebar-tabs > li.active > a, .control-sidebar-dark .control-sidebar-tabs > li.active > a:hover, .control-sidebar-dark .control-sidebar-tabs > li.active > a:focus, .control-sidebar-dark .control-sidebar-tabs > li.active > a:active{
    background: #455107!important;
    color: #fff!important;
}

.skin-green .control-sidebar-dark .control-sidebar-tabs > li > a,
.skin-green .control-sidebar-dark .control-sidebar-tabs > li > a:hover {
  border-left-color: #455107     !important;
  border-bottom-color: #455107     !important;
}
.skin-green .control-sidebar-dark .control-sidebar-menu > li > a .menu-info > p{
	color: #b8c7ce;    
}
.skin-green .control-sidebar-menu > li > a{
	display: block;
    padding: 10px 15px;
    border: solid 1px #63216D;
}
.skin-green .control-sidebar-dark .control-sidebar-menu > li > a{	
    border: solid 1px #354003;
}
.skin-green .control-sidebar-dark .control-sidebar-menu > li > a:hover{
	background: #657C01;
    border: solid 1px #657C01;
}
.skin-green .sidebar-form {
  border-radius: 3px;
  border: 1px solid #695868;
  margin: 10px 10px;
}
.skin-green .btn-rec{
	background-color: #7D940E;
	border: 1px solid #7D940E;
}
.skin-green .btn-rec:hover{
	color:#333!important;
	background-color: #ddd !important ; 
	border: 1px solid #731D26;
}
.skin-green .sidebar-form input[type="text"],
.skin-green .sidebar-form .btn {
  box-shadow: none;
  background-color: #3F4A06;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-green .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-green .sidebar-form input[type="text"]:focus,
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-green .content-wrapper,
.skin-green .right-side {
  min-height: 100%;
  background: rgba(255, 255, 255, 1);	
  z-index: 800;
}
.skin-green .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-green .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
 .skin-green .custom_rows{
	 background: transparent;
 }
.skin-green .main-footer {
	border-left: 1px solid #59690C;   
	padding: 5px;
    color: #fff;
    background:#59690C;
    border-top: 1px solid #59690C;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.skin-green .main-footer  a {
	color:#fff;
}
.skin-green .main-footer  a :hover{
	color:#eee6ed;
}


/*  progress bar */
.skin-green .progress-bar-aqua, .progress-bar-info{
    background-color: #CF98D8;
}

	/* Accordion & Toggle */
.skin-green .accordion {
	margin-bottom: 30px;
}
.skin-green .accordion .accordion-title {
	display: block;
	margin-bottom: 10px;	
	position: relative;
	font-size: 14px;
}
.skin-green .accordion .accordion-title.active {
	margin-bottom: 0;
}
.skin-green .accordion .accordion-title a {
	display: block;
	padding: 10px 15px;
	background-color: #6A7D05;
    color: #fff;
    border-radius: 5px;
}
.skin-green .accordion .accordion-title a:before,.accordion .accordion-title.active a:before {
	font-family: "FontAwesome";
	float: right;
	font-size: 10px;
	position: absolute;
	top: 50%;
	right: 10px;
	line-height: 0;
}
.skin-green .accordion .accordion-title a:before {
	content: "\f067";
}	
.skin-green .accordion .accordion-title.active a:before {
	content: "\f068";
}	
.skin-green .accordion .accordion-title a i {
	margin: 0 8px 0 0;
}
.skin-green .accordion .accordion-inner {
	padding: 15px;
	display: none;
	color: #2f3239;
	background-color: #ECF0F5;
}
.skin-green .accordion .accordion-inner div {
	max-width: 100%;
}
.skin-green .accordion.acc-style-2 .accordion-title,.accordion.acc-style-3 .accordion-title {
	border: 1px solid #E8E7E7;
	background-color: #F7F7F7;
}
.skin-green .accordion.acc-style-2 .accordion-title a,.accordion.acc-style-3 .accordion-title a {
	color: #333;
}
.skin-green .accordion.acc-style-3 .accordion-title:hover {
	background-color: #333;
}
.skin-green .accordion.acc-style-2 .accordion-title a,.accordion.acc-style-2 .accordion-title {
	background-color: #F7F7F7;
	color: #333;
}
.skin-green .accordion.acc-style-2 .accordion-title a:before {
	background-color: #e6e6e6;
	position: absolute;
	color: #767676;
	top: 0;
	right: 0;
	line-height: 0;
	padding: 21px 18px;
}
.skin-green .accordion.acc-style-2 .accordion-title.active,.accordion.acc-style-4 .accordion-title.active {
	background-color: transparent;
}
.skin-green .accordion.acc-style-4 .accordion-title {
	background: transparent;
}
.skin-green .accordion.acc-style-4 .accordion-title {
	border-bottom: 1px solid #DEDEDE;
}
.skin-green .accordion.acc-style-4 .accordion-title a {
	padding: 10px 0;
}
.skin-green .accordion.acc-style-4 .accordion-inner {
	padding: 14px 0;	
}
.skin-green .accordion.acc-style-4 .accordion-title.active {
	border-bottom: none;
}
.skin-green .accordion.acc-style-4 .accordion-title a,.accordion.acc-style-4 .accordion-title.active a,.accordion.acc-style-4 .accordion-title.active a:before,.accordion.acc-style-4 .accordion-title.active a i {
	color: #4B4C4D;
}
.skin-green .accordion.accordion-no-before .accordion-title a:before {
	content: "";
}
	/* Tab selection part */
.skin-green .nav-tabs-custom > .nav-tabs > li.active{
	border-top-color: #99B126;
}



/*  topmenu < 768 */	

.skin-green  #dgmenu{color:white;}
.skin-green  #custom_moblie_viewmenu  .nav-side-menu {
  overflow: auto;  
  font-size: 12px;
  font-weight: 400;
  webkit-font-smoothing: antialiased;
  background-color: #596B00;
  width: 100%;
  height: 100%;
  color: #e1ffff;
  padding-top:10px;
  padding-bottom:10px;  
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu .toggle-btn {
  display: none;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul :not(collapsed) .arrow:before,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li :not(collapsed) .arrow:before {  
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .active,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .active {
  border-left: 3px solid #aecd16;
  background-color: #354003;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .sub-menu li.active,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .sub-menu li.active {
  color: #DCFF33;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .sub-menu li.active a,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .sub-menu li.active a {
  color: #DCFF33;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .sub-menu li,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .sub-menu li {
  background-color: #242B00;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #566705;
  margin-left: 0px;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .sub-menu li:hover,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu ul .sub-menu li:before,
.skin-green  #custom_moblie_viewmenu .nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  padding-left: 15px;
  font-weight:bold;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.skin-green  #custom_moblie_viewmenu .nav-side-menu li:hover {
  border-left: 3px solid #7D940E;
  background-color: #354003;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.skin-green .list-group-item{
  color:#444;
}
.skin-green .list-group-item:hover{
  color:#127300;
}
.skin-green .control-sidebar-menu > li > a{
	color:#697D02;
} 
.skin-green .control-sidebar-menu > li > a:hover{
	color:#4B5806;
} 
.skin-green   #cd-dropdown :hover{
	background: #455107 !important;
}


/*************************** custom Scrollbar ***************************************/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(49,23,4,0.6)!important; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
     background: rgb(87, 98, 31);
    -webkit-box-shadow: inset 0 0 6px rgb(87, 98, 31);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(69,81,7,0.4); 
}

/*************************** End Scrollbar ***************************************/